body {
  animation: slight 10s infinite;
  background-color: #ffdda6;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body header {
  border: 3px solid #fc9432;
  padding: 3px;
  margin: 3px;
  background-color: #dedeff;
  border-radius: 10px;
}
body header i {
  padding-right: 10px;
}
body header h1 {
  font-family: "rock salt";
  color: #fe7070;
}
body header p {
  font-family: "bungee";
}
body header nav {
  display: flex;
  justify-content: space-around;
}
body header nav a {
  color: black;
}
body main {
  border: 3px solid #fc9432;
  border-radius: 10px;
  padding: 3px;
  margin: 3px;
  background-color: #ffff00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%5' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2392ff00'/%3E%3Cstop offset='1' stop-color='%2392ff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffed00'/%3E%3Cstop offset='1' stop-color='%23ffed00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2324FF00'/%3E%3Cstop offset='1' stop-color='%2324FF00' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
body main div {
  padding: 2px;
  margin: 2px;
}
@media only screen and (min-width: 800px) {
  body main div {
    display: flex;
    justify-content: center;
  }
}
body main div section {
  padding: 2px;
  margin: 2px;
}
@media only screen and (min-width: 800px) {
  body main div section {
    width: 40%;
  }
}
body main div section img {
  height: 60vh;
  animation: rainbow 10s infinite;
}
body main div section h3 {
  font-family: "rock salt";
  border: 3px solid transparent;
  border-radius: 10px;
}
body main div section h2 {
  border: 3px solid transparent;
  border-radius: 10px;
}
body main div section h1 {
  font-family: "bungee";
  border: 3px solid transparent;
  border-radius: 10px;
}
body main div section p {
  border: 3px solid transparent;
  border-radius: 10px;
}
body main div section span img {
  height: 20vh;
}
body main div section fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main div section fieldset input {
  width: 200px;
  margin: 5px;
  padding: 5px;
}
body main div section fieldset textarea {
  width: 200px;
  height: 100px;
  margin: 5px;
  padding: 5px;
}
body main div #gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body main div #gallery #image {
  width: 80%;
  height: 80%;
}
body main div #gallery button {
  width: 10%;
  height: 80px;
}
body footer {
  border: 3px solid #fc9432;
  padding: 3px;
  margin: 3px;
  background-color: #dedeff;
}
body footer p {
  font-family: "rock salt";
  color: #fe7070;
  font-size: larger;
}

.rainbow {
  animation: rainbow 10s infinite;
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(1800deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@keyframes rapidRainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(3600deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@keyframes slight {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-25deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@keyframes disimage {
  0% {
    filter: hue-rotate(0deg);
    transform: scale(3);
  }
  50% {
    transform: scale(0);
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
    transform: scale(3);
  }
}/*# sourceMappingURL=style.css.map */